//colors

$primary: #D34E24;
$secondary: #c2410c;
$quaternary: #F7F052;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


$facebook-blue: #3b5998;
$button-facebook-active-blue: #2b457e;